<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445899476903-n7th81qa2doesvnr0151hnrckubn3d9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445899476903-n7th81qa2doesvnr0151hnrckubn3d9d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>445899476903-mm8tlsu7k5ac0cncou864ll1gj96ltb0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaGKB3QVSvEzNMwVhJeNHiwlWtzzHsgbU</string>
	<key>GCM_SENDER_ID</key>
	<string>445899476903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseauth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-293b2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-293b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445899476903:ios:ab84a1603b3bf34ab8f082</string>
</dict>
</plist>